footer{
    /*background: linear-gradient(180deg, #000000, #1e3a8a, #3b82f6);*/
    background-color: #001331; /* Azul oscuro con transparencia */
    width: 100%;
    display: flex;
    justify-content: center;
    color: #93c5fd; /* Azul claro */
}