/*Animaciones*/
.animada {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    will-change: opacity, transform;
}
  
.animada.visible {
    opacity: 1;
    transform: translateY(0);
}

/*Utilidades*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    padding: 20px;
}