<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/favicon.svg" type="image/svg+xml">
    <title>Carlos Oliveri</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/progressbar.js"></script>
</head>
<body>
    <header id="navbar" class="header">
        <h1>Carlos Oliveri</h1>
        <nav>
            <ul class="nav-no-icons">
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#servicios">Servicios</a></li>
                <li><a href="#proyectos">Proyectos</a></li>
                <li><a href="#contacto">Contactos</a></li>
            </ul>

            <ul class="nav-icons">
                <li><a href="#inicio"><i class="fas fa-home"></i></a></li>
                <li><a href="#servicios"><i class="fas fa-user"></i></a></li>
                <li><a href="#proyectos"><i class="fa-solid fa-code"></i></a></li>
                <li><a href="#contacto"><i class="fa-sharp fa-solid fa-envelope"></i></a></li>
            </ul>

            <div><a href=""><i class="fa-solid fa-bars"></i></a></div>
        </nav>
    </header>

    <div id="inicio" class="animada">
        <div class="blur-banner"></div>
        <h2><span style="color: #15aefa;">Hola!</span> Soy Carlos</h2>
        <h3>Desarrollador | Full-Stack</h3>
        <a href="#contacto" class="btn-cv"></i>HABLAR AHORA</a>
        <a href="#proyectos" class="btn">Ver Proyectos</a>
    </div>

    <section id="servicios" class="servicios">
        <div class="mis-servicios contenedor animada">
            <div class="servicio">
                <img src="{{ url_for('static', filename='images/icono_pc.png') }}" alt="app web">
                <h2>Desarrollo de aplicaciones web</h2>
                <p>Diseñemos tu idea juntos y potencia tu presencia en la web</p>
            </div>
            <div class="servicio">
                <img src="{{ url_for('static', filename='images/icono_mobil.png') }}" alt="app mobile">
                <h2>Aplicaciones móviles</h2>
                <p>¿Tenes una idea? Hablemos y hagámosla realidad</p>
            </div>
            <div class="servicio">
                <img src="{{ url_for('static', filename='images/icono_landing.png') }}" alt="Landing Pages">
                <h2>Desarrollo de Landing Pages</h2>
                <p>Incrementa la tasa de conversión de tus visitantes</p>
            </div>
            <div class="servicio">
                <img src="{{ url_for('static', filename='images/icono_scadas.png') }}" alt="scadas">
                <h2>Desarrollo de SCADAS</h2>
                <p>Control y adquisicion de datos para tus sistemas</p>
            </div>
        </div>
    </section>

    <section id="proyectos" class="proyectos contenedor">
        <h2 class="animada">Proyectos destacados</h2>
        <div class="container-proyectos animada">
            <div class="project-grid ">
                {% for u in proyectos %}
                    <article class="card animada">
                        <img class="img-project" src="{{ url_for('static', filename='uploads/' + u.imagen)}}" alt="Image">
                        <div class="line-divisor"></div>
                        <div class="card-content">
                            <div class="card-title">
                                <h3>{{u.titulo}}</h3>
                            </div>
                            <div class="card-body">
                                {% for line in u.linealidades %}
                                    <span class="linealidades">
                                        {{line}}
                                    </span>
                                {% endfor %}
                            </div>
                            <p>{{u.descripcion}}</p>
                            <div class="card-footer">
                                <a href="/proyecto?id={{u.id}}"> > Ver Proyecto</a>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
        <div class="btn-a-proyectos ">
            <a href="/proyectos" class="boton-azul-rec">Más proyectos</a>
        </div>
    </section>

    <section id="banner-medio-automatismo" class="banner-medio-automatismo animada">
        <div class="blur-banner-medio">
            <div class="banner-medio-automatismo__contenedor contenedor">
                <h2>Necesitas Incorporar Sistemas de Control y Adquisición de Datos</h2>
                <p>Los SCADAS ayudan a mejorar y optimizar tus procesos de producción</p>
                <p>Implementar un sistema SCADA puede ser la clave para llevar tu negocio al siguiente nivel.</p>
                <a href="#contacto" class="boton-azul">Hablemos</a>
            </div>    
        </div>
    </section>

    <section id="tecnologias">
        <h2 class="animada">Tecnologías</h2>
        <div class="icons">
            <div class="tool-set">
                <i class="fab fa-brands fa-html5 animada" style="color: #ffa33b;"></i>
                <!-- <div class="prog-bar" id="html-bar"></div> -->
                <div class="tec-am-ic-to-blur"></div>
            </div>

            <div class="tool-set">
                <i class="fab fa-css3-alt animada" style="color: #3b79ff;"></i>
                <!-- <div class="prog-bar" id="css-bar"></div> -->
                <div class="tec-am-ic-to-blur"></div>
            </div>

            <div class="tool-set">
                <i class="fab fa-js-square animada" style="color: #f2ff3b;"></i>
                <!-- <div class="prog-bar" id="js-bar"></div> -->
                <div class="tec-am-ic-to-blur"></div>
            </div>

            <div class="tool-set">
                <i class="fab fa-react animada" style="color: #3bceff;"></i>
                <!-- <div class="prog-bar" id="react-bar"></div> -->
                <div class="tec-am-ic-to-blur"></div>
            </div>

            <div class="tool-set">
                <i class="fa-brands fa-php animada"></i>
                <!-- <div class="prog-bar" id="micro-bar"></div> -->
                <div class="tec-am-ic-to-blur"></div>
            </div>

            <div class="tool-set">
                <div class="img-logos"><img class="fab animada" src="{{ url_for('static', filename='images/python-logo-only.png')}}" alt="logo Python"></div>
                <!-- <div class="prog-bar correccion-progbar" id="python-bar"></div> -->
                <div class="tec-am-ic-to-blur"></div>
            </div>

            <div class="tool-set">
                <div class="img-logos"><img class="fab animada cplus" src="{{ url_for('static', filename='images/C++-Logo.png')}}" alt="logo C++"></div>
                <!-- <div class="prog-bar cplus-progbar" id="cplus-bar"></div> -->
                <div class="tec-am-ic-to-blur"></div>
            </div>

            <div class="tool-set">
                <div class="img-logos"><img class="fab arduino animada" src="{{ url_for('static', filename='images/arduino-logo.png')}}" alt="logo arduino"></div>
                <!-- <div class="prog-bar correccion-progbar" id="arduino-bar"></div> -->
                <div class="tec-am-ic-to-blur"></div>
            </div>

            <div class="tool-set">
                <i class="fab fa-github animada"></i>
                <!-- <div class="prog-bar" id="git-bar"></div> -->
                <div class="tec-am-ic-to-blur"></div>
            </div>
        </div>
    </section>

    <section id="banner-medio-mobile" class="banner-medio-mobile animada">
        <div class="blur-banner-medio">
        <div class="banner-medio-mobile__contenedor contenedor">
            <h2>Hagamos realidad tus ideas</h2>
            <p>Si tenés un proyecto o una idea, yo puedo ayudarte a convertirla en algo tangible</p>
            <p>¡Construyámos juntos!</p>
            <a href="#contacto" class="boton-azul-rec">Hablemos</a>
        </div>    
        </div>
    </section>

    <section id="metodologia" class="metodologia">
        <h2 class="animada">Flujo de Trabajo</h2>
        
    </section>
    

    <section id="contacto" class="contacto">
        <h2 class="animada">Contacto</h2>
        <p class="animada">Puede dejarme un mensaje y me pondre en contacto</p>
        <p class="animada">También puede contactarme a traves de mis redes sociales</p>
        <form id="myForm" method="POST" class="animada">
            <textarea class="animada" id="mensaje" name="mensaje" placeholder="Su mensaje" required></textarea>
            <input class="animada" id="nombre" name="nombre" type="text" placeholder="Su nombre" required>
            <input class="animada" id="email" name="email" type="email" placeholder="Su E-mail" required>
            <input class="animada" type="tel" id="numero" name="numero" placeholder="Su teléfono">

            <div class="btn-submit animada"><button class="boton-azul-rec" type="submit" onclick="">Enviar Mensaje ></button></div>
        </form>
        
        <iframe name="hidden_iframe" style="display:none;"></iframe>

        <div class="redes animada">
            <a href="https://wa.me/+595972268798?text=Hola! vengo desde tu sitio web y estoy interesado en trabajar contigo"><i class="fab fa-whatsapp"></i></a>
            <a href="https://github.com/CarlosOliveri"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/carlos-oliveri-martinez-b1a342203"><i class="fab fa-linkedin"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href="mailto:coliveri@fiuna.edu.py"><i class="fas fa-envelope"></i></a>
        </div>
    </section>
    <script src="{{ url_for('static', filename='js/bundle.min.js') }}" defer></script>
    <footer>
        <p>2025 Carlos Oliveri</p>
    </footer>
</body>

</html>